<a href="https://colab.research.google.com/github/sitiayuni/Dataset_Kompi10/blob/main/Data_Preparation_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation Assignment
You were given files related to Merchant's Transaction Data.
The business team needs to find analysis of which customer has the highest transaction and which merchant has the most potential from merchant's historical transaction. The management would like to know if you can provide us which merchant that is suitable for the next campaign or promo to increase number of transactions using our banking mobile app. Please provide justification for your recommendations.

__Requirements__:
1. Use python for all assignments from any packages of your choice to integrate for data transformations and analysis.

__Deliverables__:
1. Python Jupyter notebook with your code based on the questions provided. Add comments to the code !!!

__What are we looking for__:
1. Tell the reason why you provide each of the variables inside the data.
2. There are multiple right solutions to this assignment (Python can be written in many different ways).
3. Be precise and to the point (donâ€™t be long winded). Provide justifications to your recommendations.
4. Use comments in the code !!!
5. The rationale behind the decisions you made.

In [ ]:
# Import your package required below

In [ ]:
# import pandas as pd
# import numpy as np

In [ ]:
# Import the following data into dataframe named as "df"

In [ ]:
# df = pd.read_csv("Data Preparation Assignment Data.csv", low_memory = False)

# Beginner

1. Show us the first 10 rows data inside the dataframe

2. Check the data types for each variable

3. Change "Transaction Date" variable format to date only

4. Sort the data from the oldest into newest transaction

5. Show us the last 5 rows data inside the dataframe

6. Find how many missing data across all variables

7. Delete all rows that has missing values

8. Find how many success transaction in "Status"

9. Delete column "No" & "Status"

10. Find all types of values in "Tipe Transaksi"